:root {
  --color-primary: #3b82f6; // голубая
  --color-hover: #facc15;   // жёлтая
  --color-error: #ef4444;   // красная
  --color-add: #ec4899;     // розовая
  --border-radius: 0.5rem;
  --font-main: 'Inter', sans-serif;
}
