:root {
  --color-primary: #005BFE; // голубая
  --color-hover: #facc15;   // жёлтая
  --color-error: #ef4444;   // красная
  --color-add: #F81155;     // розовая
  --color-pink: #ec4899;
  --color-gray: #F5F5F5;
  --color-red: #EA3D2F;

  --color-dark-pink: #db2777;
  --color-dark-primary: #0047C6;  
  --color-dark-error: #dc2626;
  --color-dark-gray: 

  --border-radius: 0.3rem;
  --font-main: 'Inter', sans-serif;
}

$background : #F5F5F5;
